.Profile-form-container[b-56themc59t] {
    background-color: #111418;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Profile-form-content[b-56themc59t] {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 40px;
    width: 430px;
}

    .Profile-form-content h1[b-56themc59t] {
        color: #FD5068;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 30px;
        text-align: center;
    }


.container[b-56themc59t] {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3);
    padding: 20px;
}

.input-container[b-56themc59t] {
    position: relative;
    margin-bottom: 15px;
}

.input-placeholder[b-56themc59t] {
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.btn-primary[b-56themc59t] {
    display: flex;
    background-color: #fe3c72;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover[b-56themc59t] {
        background-color: #f22b5d;
    }

.form-group[b-56themc59t] {
    display: flex;
    justify-content: center;
}

.error[b-56themc59t] {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.Fire-Flame[b-56themc59t] {
    position: absolute;
    top: 0;
    left: 0;
    margin: 50px;
}

.fa-fire-flame-curved[b-56themc59t]:before {
    font-weight: 900;
    font-size: 50px;
    color: #FD5068;
    border: 1px;
    border-color: black;
}
